<header class="app-header">
  <h1 class="app-title">Petals & Produce</h1>

  <div class="button-group">
    <button routerLink="/home" mat-button>Home</button>
    <button routerLink="/products" mat-button>Shop Now</button>
    <button routerLink="/cart" mat-button>Cart</button>
        <button *ngIf="isLoggedIn()" routerLink="/orders" mat-button>Orders</button>
    <button *ngIf="isAdmin()" routerLink="/admin" mat-button>Admin</button>
    <button *ngIf="!isLoggedIn()" routerLink="/login" mat-button>Login</button>
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-button>Logout</button>
  </div>
</header>
