<div class="product-grid">
    <a *ngFor="let product of products" [routerLink]="['/products', product.id]" class="product-card">
    <img [src]="product.imageUrl" alt="{{ product.name }}">
    <h3>{{ product.name }}</h3>
    <p>{{ product.price | currency }}</p>
  </a>
</div>

<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }}</span>
  <button (click)="nextPage()" [disabled]="currentPage * pageSize >= allProducts.length">Next</button>
</div>
